<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    
    <div id="main-content">
        <h1>Tennis Courts Near You</h1>
        <div id="map"></div>
    </div>

    <div id="popup" class="popup close">
        <button class="close" onclick="closePopup()">×</button>
        <h2>Join Court</h2>
        <button id="join-button">Join</button>
        <div>
            <label for="calendar">Select Date:</label>
            <input type="date" id="calendar">
        </div>
        <div id="user-selections">
            <h3>Other Users:</h3>
            <ul id="user-list">
                <li>User1: Available on 2024-09-25</li>
                <li>User2: Available on 2024-09-26</li>
            </ul>
        </div>
    </div>

    <script src="~/js/Index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUmP5UYfThrtIb32E7DavYLyetcVATxzo&callback=initMap" async defer></script>
    
</body>
</html>
